body,
button,
input,
select,
textarea {
  font-family: 'Vazir', sans-serif !important;
  font-size: 13px;
  line-height: 24px;
}

::-webkit-input-placeholder {
  font-family: 'Vazir', sans-serif
}

:-moz-placeholder {
  font-family: 'Vazir', sans-serif
}

::-moz-placeholder {
  font-family: 'Vazir', sans-serif
}

:-ms-input-placeholder {
  font-family: 'Vazir', sans-serif
}

/*
* header color scheme
*/

#header {
  background-color: rgba(242, 242, 242, 1.0);
}

.header-middle {
  background-color: rgba(255, 255, 255, 1);
  color: #656565;
  padding: 24px 0 24px 0;
}

.header-middle .header-right > span > a,
.header-middle .header-cart.cart-style-2 > a,
.header-middle .header-cart-content .heading-cart.cart-style-3 h6,
.header-middle .header-cart-content .heading-cart.cart-style-3 a,
.header-middle .header-cart-content .heading-cart.cart-style-3 h6,
.header-services .content-service h6,
.search-toggle::before,
.header-middle .mobile-main-navigation .toggle-menu h4,
.header-middle .customer-support-email,
.header-middle .customer-support-call {
  color: #656565;
}

.navbar-toggle .icon-bar {
  background-color: #656565;
}

.header-middle .search-area,
.shop .header-middle .search-categories a.selectBox {
  background-color: #ffffff;
}

.header-middle .search-area .search-field,
.header-middle .search-categories a.selectBox,
.header-middle .search-categories .categories-filter {
  color: #656565;
}

.header-middle a {
  color: #ffffff;
}

.header-middle a:hover,
.header-middle .header-right > span > a:hover,
.header-middle .header-cart.cart-style-2 > a:hover,
.header-middle ul.main-navigation > li.menu-item-has-children:hover > a,
.header-middle ul.main-navigation li.current-menu-ancestor > a,
.header-middle ul.main-navigation li.current-page-ancestor > a,
.header-middle ul.main-navigation > li.current_page_item > a {
  color: #25ae88;
}

.header-middle a:active {
  color: #25ae88;
}

.header-middle::-webkit-input-placeholder {
  color: #656565;
}

.header-middle:-moz-placeholder {
  /* Firefox 18- */
  color: #656565;
}

.header-middle::-moz-placeholder {
  /* Firefox 19+ */
  color: #656565;
}

.header-middle:-ms-input-placeholder {
  color: #656565;
}

.header-middle .search-area,
.header-middle .header-cart-content .cart-style-1 .mini-cart-count,
.header-services .icon-service {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
}

.header-middle .search-control-group .search-categories {
  border-left: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
}

/*
* topbar color scheme
*/

.header-topbar,
.header-topbar .wcaccount-topbar .wcaccount-dropdown,
.header-topbar .wpml-ls-statics-shortcode_actions .wpml-ls-sub-menu,
.header-topbar .wcml-dropdown .wcml-cs-submenu,
.header-topbar .demo-dropdown-sub-menu,
.header-topbar .shop-currency-switcher-form ul.dd-options,
.header-topbar .dropdown-menu {
  background-color: rgba(68, 74, 111, 1);
  color: #ffffff;
}

.header-topbar input[type="textbox"],
.header-topbar input[type="email"],
.header-topbar select,
.header-topbar textarea {
  background-color: #ffffff;
  color: #ffffff;
}

.header-topbar a,
.header-topbar .dropdown-menu > li > a {
  color: #ffffff;
}

.header-topbar a:hover {
  color: #25ae88;
}

.header-topbar a:active {
  color: #25ae88;
}

.header-topbar::-webkit-input-placeholder {
  color: #ffffff;
}

.header-topbar:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}

.header-topbar::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}

.header-topbar:-ms-input-placeholder {
  color: #ffffff;
}

.header-topbar input[type="textbox"],
.header-topbar input[type="email"],
.header-topbar select,
.header-topbar textarea {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: rgba(68, 74, 111, 1);
}

.header-topbar,
.wcaccount-topbar .wcaccount-dropdown > li {
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(68, 74, 111, 1);
}

.topbar-right > span:last-child,
.topbar-right .nav li:last-child {
  border-right: 1px;
  border-style: solid;
  border-color: rgba(68, 74, 111, 1);
}

.topbar-right > span,
.topbar-right .nav li {
  border-left: 1px;
  border-style: solid;
  border-color: rgba(68, 74, 111, 1);
}

/*
* navigation bar color scheme
*/

.header-navigation {
  background-color: rgba(238, 238, 238, 1);
  color: #ffffff;
}

.header-navigation .category-menu .category-menu-title h4,
.header-navigation .mobile-main-navigation .toggle-menu h4,
.header-navigation .category-menu .category-menu-title,
.header-navigation .header-cart-content .heading-cart.cart-style-3 h6,
.header-navigation .header-cart-content .heading-cart.cart-style-3 a {
  color: #ffffff;
}

.header-navigation .category-menu .category-menu-title,
.header-navigation .search-area .input-search-btn .search-btn {
  background-color: #444a6f;
}

.header-navigation .search-area,
.shop .header-navigation .search-categories a.selectBox {
  background-color: #ffffff;
}

.header-navigation .search-area .search-field,
.header-navigation .search-categories a.selectBox,
.header-navigation .search-categories .categories-filter {
  color: #656565;
}

.header-navigation a {
  color: #3f3f3f;
}

.header-navigation a:hover,
.header-navigation ul.main-navigation > li.menu-item-has-children:hover > a,
.header-navigation ul.main-navigation li.current-menu-ancestor > a,
.header-navigation ul.main-navigation li.current-page-ancestor > a,
.header-navigation ul.main-navigation > li.current_page_item > a {
  color: #444a6f;
}

.header-navigation a:active {
  color: #444a6f;
}

.header-navigation::-webkit-input-placeholder {
  color: #656565;
}

.header-navigation:-moz-placeholder {
  /* Firefox 18- */
  color: #656565;
}

.header-navigation::-moz-placeholder {
  /* Firefox 19+ */
  color: #656565;
}

.header-navigation:-ms-input-placeholder {
  color: #656565;
}

.header-navigation .search-area,
.header-navigation .header-cart-content .cart-style-1 .mini-cart-count {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: rgba(224, 224, 224, 1);
}

.header-navigation ul.shop-horizontal-menu.main-navigation > li,
.header-navigation .search-control-group .search-categories {
  border-left: 1px;
  border-style: solid;
  border-color: rgba(224, 224, 224, 1);
}

.header-navigation ul.shop-horizontal-menu.main-navigation > li:last-child {
  border-right: 1px;
  border-style: solid;
  border-color: rgba(224, 224, 224, 1);
}

/*
* sticky header, topbar and navigation color scheme
*/

.header-topbar.es-sticky,
.es-sticky .wcaccount-topbar .wcaccount-dropdown,
.header-middle.es-sticky,
.header-navigation.es-sticky {
  background-color: rgba(252, 252, 252, 1);
}

.es-sticky .header-right > span > a,
.es-sticky .header-cart.cart-style-2 > a,
.es-sticky .header-cart-content .heading-cart.cart-style-3 h6,
.es-sticky .header-cart-content .heading-cart.cart-style-3 a,
.es-sticky .header-cart-content .heading-cart.cart-style-3 h6,
.header-services .content-service h6,
.search-toggle::before,
.es-sticky .mobile-main-navigation .toggle-menu h4 {
  color: #656565;
}

.es-sticky .navbar-toggle .icon-bar {
  background-color: #656565;
}

.es-sticky.search-area,
.shop .es-sticky .search-categories a.selectBox {
  background-color: #ffffff;
}

.es-sticky .search-area .search-field,
.es-sticky .search-categories a.selectBox,
.es-sticky .search-categories .categories-filter {
  color: #656565;
}

.es-sticky a {
  color: #212121;
}

.es-sticky a:hover,
.header .es-sticky ul.main-navigation > li.menu-item-has-children:hover > a,
.header .es-sticky ul.main-navigation li.current-menu-ancestor > a,
.header .es-sticky ul.main-navigation li.current-page-ancestor > a,
.header .es-sticky ul.main-navigation > li.current_page_item > a {
  color: #25ae88;
}

.es-sticky a:active {
  color: #25ae88;
}

.es-sticky .search-area,
.es-sticky .header-cart-content .cart-style-1 .mini-cart-count,
.es-sticky .search-area,
.es-sticky .header-services .icon-service,
.es-sticky input[type="textbox"],
.es-sticky input[type="email"],
.es-sticky select,
.es-sticky textarea {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
}

.es-sticky ul.shop-horizontal-menu.main-navigation > li,
.es-sticky .search-control-group .search-categories,
.es-sticky .topbar-right > span,
.es-sticky .topbar-right .nav li {
  border-left: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
}

.es-sticky ul.shop-horizontal-menu.main-navigation > li:last-child,
.es-sticky .topbar-right > span:last-child,
.es-sticky .topbar-right .nav li:last-child {
  border-right: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
}

.header-topbar.es-sticky,
.es-sticky .wcaccount-topbar .wcaccount-dropdown > li {
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
}

/*
* Menu color scheme
*/

ul.main-navigation .sub-menu,
ul.main-navigation .shop-megamenu-wrapper,
ul.main-navigation .toggle-submenu {
  background-color: #ffffff;
  color: #656565;
}

ul.main-navigation .sub-menu li a,
ul.main-navigation .shop-megamenu-title a,
.shop-megamenu-wrapper .shop-megamenu-submenu .widget li a {
  color: #212121;
}

ul.main-navigation .sub-menu li a:hover,
ul.main-navigation .shop-megamenu-title a:hover,
.shop-megamenu-wrapper .shop-megamenu-submenu .widget li a:hover,
ul.main-navigation ul.sub-menu li.menu-item-has-children:hover > a,
ul.main-navigation ul.sub-menu li.current-page-ancestor > a,
ul.main-navigation ul.sub-menu li.current-menu-ancestor > a,
ul.main-navigation ul.sub-menu li.current-menu-item > a,
ul.main-navigation ul.sub-menu li.current_page_item > a {
  color: #25ae88;
}

ul.main-navigation .sub-menu li a:active,
ul.main-navigation .shop-megamenu-title a:active,
.shop-megamenu-wrapper .shop-megamenu-submenu .widget li a:active {
  color: #25ae88;
}

ul.main-navigation .sub-menu li,
ul.main-navigation .widget_rss li,
ul.main-navigation .widget ul.post-list-widget li {
  border-bottom: 1px;
  border-style: solid;
  border-color: #e2e2e2;
}

ul.main-navigation .shop-megamenu-wrapper .shop-megamenu > li {
  border-right: 1px;
  border-style: solid;
  border-color: #e2e2e2;
}

/*
* Page heading color scheme
*/

#header .page-heading {
  background-color: rgba(252, 252, 252, 1);
  color: #656565;
  padding: 10px 0 10px 0;
}

.page-heading .page-header .page-title {
  color: #212121;
}

#header .page-heading {
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(245, 245, 245, 1);
}

.page-heading a {
  color: #212121;
}

.page-heading a:hover {
  color: #25ae88;
}

/*
* footer color scheme
*/

.footer {
  background-color: rgba(252, 252, 252, 1);
}

.footer .footer-top,
.footer .footer-middle {
  background-color: rgba(68, 74, 111, 1);
  color: #ffffff;
}

.footer .footer-middle {
  padding: 42px 0 42px 0;
}

.footer .widget-title {
  color: #25ae88;
}

.footer input[type="textbox"],
.footer input[type="email"],
.footer select,
.footer textarea {
  background-color: #ffffff;
  color: #ffffff;
}

.footer .footer-top a,
.footer .footer-middle a {
  color: #ffffff;
}

.footer .footer-top a:hover,
.footer .footer-middle a:hover {
  color: #25ae88;
}

.footer .footer-top a:active,
.footer .footer-middle a:active {
  color: #25ae88;
}

.footer::-webkit-input-placeholder {
  color: #ffffff;
}

.footer:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}

.footer::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}

.footer:-ms-input-placeholder {
  color: #ffffff;
}

.footer input[type="textbox"],
.footer input[type="email"],
.footer select,
.footer textarea {
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: rgba(53, 58, 89, 1);
}

.footer .footer-top,
.footer .footer-middle {
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(53, 58, 89, 1);
}

.footer .popular-categories .categories-list li {
  border-right: 1px;
  border-style: solid;
  border-color: rgba(53, 58, 89, 1);
}

/*
* Copyright color scheme
*/

.footer-copyright {
  background-color: rgba(53, 53, 89, 1);
  color: #ffffff;
  padding: 14px 0 14px 0;
}

.footer-copyright a {
  color: #ffffff;
}

.footer-copyright a:hover {
  color: #25ae88;
}

.footer-copyright a:active {
  color: #25ae88;
}

.footer-copyright {
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(233, 233, 233, 1);
}

/*
* General color scheme
*/

.product .product-highlight .out-of-stock span {
  background-color: #dd9933;
}

.product .product-highlight .onsale span {
  background-color: #25ae88;
}

.product .product-highlight .new span {
  background-color: #dd3333;
}

.product .product-highlight .featured span {
  background-color: #444a6f;
}

/*
* Newsletter Color
*/

.newsletter-content.modal-content {
  background-color: #444a6f;
  color: #ffffff;
}

.newsletter-content .close,
.newsletter-content .newsletter-text > h1 {
  color: #ffffff;
}

.newsletter-content .mc4wp-form-fields input[type="submit"] {
  background-color: #25ae88;
}

.wpb_wrapper .vc_single_image-wrapper {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.wpb_wrapper .vc_single_image-wrapper:hover {
  background-color: #000;
}

.wpb_wrapper .vc_single_image-wrapper:before,
.wpb_wrapper .vc_single_image-wrapper:after {
  bottom: 10px;
  content: "";
  left: 10px;
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  z-index: 1;
}

.wpb_wrapper .vc_single_image-wrapper:before {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transform: scale(0, 1);
}

.wpb_wrapper .vc_single_image-wrapper:after {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
}

.wpb_wrapper .vc_single_image-wrapper img {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.55s ease 0s;
  -o-transition: opacity 0.35s ease 0s;
  transition: opacity 0.35s ease 0s;
  width: 100%;
}

.wpb_wrapper .vc_single_image-wrapper:hover:before,
.wpb_wrapper .vc_single_image-wrapper:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.wpb_wrapper .vc_single_image-wrapper:hover img {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

@media only screen and (max-width: 480px) {
  .product-items .products.grid-view li.type-product,
  .product-items .products.no-owl li.type-product {
    width: 100%;
  }
}

.topbar-notification .news-title:after {
  border-right-color: #444a6f;
}

.header-cart-content .cart-style-1 .cart-icon,
.topbar-notification .news-title,
.shop .shop-pagination ul.page-numbers li:first-child .page-numbers,
.single-product-entry .product-prev .product-navbar,
.header-post-navigation .nav-links li:first-child {
  border-radius: 0 3px 3px 0;
}

.header-cart-content .cart-style-1 .mini-cart-count,
.search-area .input-search-btn .search-btn,
.shop .shop-pagination ul.page-numbers li:last-child .page-numbers,
.single-product-entry .product-next .product-navbar,
.header-post-navigation .nav-links li:last-child,
.mobile-menu-wrapper #mobile-nav-close {
  border-radius: 3px 0 0 3px;
}

.product-section .section-brands .banner-img,
.product-items .category-entry {
  border-right: 1px;
  border-style: solid;
  border-color: #e9e9e9;
}

/*
* topbar color scheme
*/

.topbar-right > span,
.header-topbar .social-link ul li a {
  border-right: 1px;
  border-style: solid;
  border-color: #444a6f;
}

.topbar-right > span:last-child,
.header-topbar .social-link ul li:last-child a {
  border-left: 1px;
  border-style: solid;
  border-color: #444a6f;
}

/*
* header color scheme
*/

.header-cart-content .cart-style-1 .mini-cart-count,
.header-middle ul.shop-horizontal-menu.main-navigation > li:last-child {
  border-left: 1px;
  border-style: solid;
  border-color: #e9e9e9;
}

.header-middle .search-control-group .search-categories {
  border-right: 1px;
  border-style: solid;
  border-color: #e9e9e9;
}

/*
* navigation bar color scheme
*/

.header-navigation ul.shop-horizontal-menu.main-navigation > li,
.header-navigation .search-control-group .search-categories {
  border-right: 1px;
  border-style: solid;
  border-color: #e0e0e0;
}

.header-navigation ul.shop-horizontal-menu.main-navigation > li:last-child {
  border-left: 1px;
  border-style: solid;
  border-color: #e0e0e0;
}

/*
* Sticky Header Color Scheme
*/

.es-sticky ul.shop-horizontal-menu.main-navigation > li,
.es-sticky .search-control-group .search-categories {
  border-right: 1px;
  border-style: solid;
  border-color: #e9e9e9;
}

.es-sticky .header-cart-content .cart-style-1 .mini-cart-count,
.es-sticky ul.shop-horizontal-menu.main-navigation > li:last-child {
  border-left: 1px;
  border-style: solid;
  border-color: #e9e9e9;
}

/*
* Menu color scheme
*/

.header-navigation ul.main-navigation .shop-megamenu-wrapper .shop-megamenu > li,
.header-middle ul.main-navigation .shop-megamenu-wrapper .shop-megamenu > li {
  border-left: 1px;
  border-style: solid;
  border-color: #e2e2e2;
}
