/node_modules
/public/hot
/public/file
/public/vendor
/storage/*.key
/vendor
/packages
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
_ide_helper.php
composer.lock
.gitignore
composer.json
database/
src/
