* {
    font-weight: normal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $body-font-family;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.no-click {
    pointer-events: none;
}

::-moz-selection {
    background: $primary_color !important;
    color: #ffffff;
}

::selection {
    background: $primary_color !important;
    color: #ffffff;
}

body {
    font-size: 14px;
}