.tabs {
    ul.tabs-list {
        background: #dddddd;
        width: 100%;
        list-style-type: none;
        display: flex;
        margin-bottom: 0;

        li {
            padding: 8px 15px 10px 15px;
            border-left: 1px solid #aaaaaa;
            border-top: 2px solid transparent;
            cursor: pointer;

            &.active {
                background: #ffffff;
                border-top-color: $secondary_color;
            }

            &:first-child {
                border-right: 1px solid #aaaaaa;
            }
        }
    }

    .sections {
        section {
            display: none;
            padding: 15px;

            &:first-child {
                display: block;
            }

            p {
                line-height: 2.5em;
                text-align: justify;
            }

            .comments {
                .comment {
                    background: #ffffff;
                    padding: 20px;
                    margin-bottom: 10px;
                    border: 1px solid #eeeeee;

                    img.profile-pic {
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        border: 1px solid #bbbbbb;
                        padding: 5px;
                        margin-left: 20px;
                    }

                    .author {
                        display: block;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}