#container_category {
  background: #f4f4f4;
}

.grid_ {
  margin-bottom: 120px;
  margin-top: 40px;
}

.category_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.category_item .category_item_body {
  border: 1px solid rgba(175, 175, 175, 0.3);
  padding: 5px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 12px -10px #000;
}
.category_item .image_box {
  width: 100%;
  position: relative;
}
.category_item .image_box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.category_item .image_box h2 {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 60px;
  padding-top: 17px;
  padding-right: 15px;
  bottom: 0px;
  margin: 0px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
  font-size: 19px;
}
.category_item .list_of_titel {
  margin: 0px;
  padding: 0px;
  padding: 15px 30px;
}
.category_item .list_of_titel li {
  list-style: none;
  position: relative;
  padding: 7px 6px;
}
.category_item .list_of_titel li a {
  color: #565656;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
}
.category_item .list_of_titel li:hover a {
  color: #4aaee0;
}
.category_item .list_of_titel li::after {
  content: " ";
  position: absolute;
  padding: 6px;
  background: #dbdbdb;
  border-radius: 20px;
  right: -15px;
  top: 14px;
}

.left_box-menu .select_form_con {
  width: 83px;
  background: transparent;
  color: #ffffff;
  box-shadow: none !important;
  text-align: center;
  border: 1px dashed #ece0e0;
  font-weight: normal;
  padding: 0px;
  display: inline;
}
.left_box-menu .select_form_con option {
  color: #fff;
  background: #444a6f;
}

.flex_center {
  align-items: center;
  display: flex;
}

.info_head_left a {
  color: #fff !important;
}

.search_box_main {
  margin: 11px 0px;
  position: relative;
  display: flex;
}
.search_box_main input {
  padding: 7px 0px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  outline: none;
  border-radius: 5px 0px 0px 6px;
  padding-right: 8px;
  font-family: iransans !important;
  font-size: 13px;
  color: #48366f;
}
.search_box_main .btn_search {
  width: 40px;
  background: #febd69;
  color: #000;
  border-radius: 0px 10px 10px 0px;
  height: 40px;
}
.search_box_main .btn_search i {
  font-size: 20px;
  color: #444a6f;
}

.main-dropdown-menu {
  position: relative;
}
.main-dropdown-menu:hover .min_menu {
  height: auto;
  opacity: 1;
}
.main-dropdown-menu .min_menu {
  opacity: 0;
  position: absolute;
  z-index: 2222;
  right: 0px;
  width: 250px;
  height: 0px;
  transition: all 0.4s linear 0.1s;
  overflow: hidden;
  color: #000;
  top: 25px;
  border-top: none;
}
.main-dropdown-menu .min_menu ._body {
  width: 100%;
  border-radius: 3px;
  background: #444a6f;
  padding: 15px;
  border: 1px solid white;
  border-top: none;
}
.main-dropdown-menu .min_menu ._body a {
  display: block;
  color: #dbdbdb;
  color: #dbdbdb;
  margin: 4px 0px;
  cursor: pointer;
  transition: all 0.2s;
}
.main-dropdown-menu .min_menu ._body a:hover {
  color: #fff;
  transform: scale(1.05);
}
.main-dropdown-menu .min_menu .head_icon {
  height: 12px;
}
.main-dropdown-menu .min_menu .head_icon i {
  height: 100px;
  font-size: 20px;
  line-height: 0;
  color: #444a6f;
  margin-right: 14px;
}

.user_popup {
  position: relative;
}
.user_popup:hover .user_popu_menu {
  height: 210px;
}
.user_popup .user_popu_menu {
  position: absolute;
  transition: all 0.5s;
  left: 0px;
  width: 170px;
  overflow: hidden;
  height: 0px;
  z-index: 1223;
}
.user_popup .user_popu_menu .pop_head {
  widows: 100%;
  height: 5px;
  background: #fb3449;
  display: block;
  position: relative;
  margin-top: 5px;
}
.user_popup .user_popu_menu .pop_head i {
  position: absolute;
  top: -12px;
  font-size: 20px;
  left: 16px;
  color: #fb3449;
}
.user_popup .user_popu_menu .pop_body {
  width: 100%;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 1px 1px 7px -4px #000;
}
.user_popup .user_popu_menu .pop_body .method {
  color: #4a4a4a !important;
  display: block;
  text-align: right;
  font-size: 12px;
  padding: 10px 12px;
  border-bottom: 1px dashed #d6c2c2;
  cursor: pointer;
  transition: all 0.3s;
}
.user_popup .user_popu_menu .pop_body .method:last-child {
  border-bottom: unset;
}
.user_popup .user_popu_menu .pop_body .method:hover {
  background: #f0f1f4;
}

.app_filter {
  background: whitesmoke;
  padding: 30px;
}
.app_filter .filter {
  min-height: 700px;
  padding: 0px;
}
.app_filter .filter .f-box {
  border: 1px dashed #d8cece;
  background: #fff;
  padding: 5px 10px;
  margin: 9px 0px;
}
.app_filter .filter .f-box .filter_title {
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
  display: block;
}
.app_filter .filter .f-box .ul {
  padding: 10px 0px;
}
.app_filter .filter .f-box .ul span {
  font-size: 13px;
  text-shadow: 0px 0px 0px #000;
}
.app_filter .filter .f-box .ul span a {
  cursor: pointer;
}
.app_filter .filter .f-box .ul li {
  list-style: none;
  margin-right: 10px;
}
.app_filter .filter .f-box .ul li a {
  font-size: 11px;
  cursor: pointer;
}
.app_filter .filter .f-box .ul li a::before {
  content: " ";
  display: inline-block;
  border: 3px solid #d7dada;
  position: relative;
  top: 0px;
  margin: 0px 4px;
  border-radius: 20px;
}
.app_filter .filter .f-box .ul li a:hover {
  color: #4aaee0 !important;
}
.app_filter .filter .filter_search {
  padding: 10px 0px;
  position: relative;
}
.app_filter .filter .filter_search .icon {
  position: absolute !important;
  top: 20px;
  right: 10px;
  color: #e8d6d6;
}
.app_filter .filter .filter_search .search_input {
  width: 100%;
  height: 100%;
  padding: 11px 0;
  outline: none;
  padding-right: 29px;
  font-size: 10px;
  font-weight: bold;
}
.app_filter .filter .filter_switch {
  /* Rounded sliders */
}
.app_filter .filter .filter_switch .title_ {
  margin: 3px 6px;
}
.app_filter .filter .filter_switch .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}
.app_filter .filter .filter_switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.app_filter .filter .filter_switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.app_filter .filter .filter_switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.app_filter .filter .filter_switch input:checked + .slider {
  background-color: #2196F3;
}
.app_filter .filter .filter_switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.app_filter .filter .filter_switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.app_filter .filter .filter_switch .slider.round {
  border-radius: 34px;
}
.app_filter .filter .filter_switch .slider.round:before {
  border-radius: 50%;
}
.app_filter .filter .filter_value ul {
  padding: 10px 0px;
}
.app_filter .filter .filter_value ul span {
  font-size: 13px;
  text-shadow: 0px 0px 0px #000;
}
.app_filter .filter .filter_value ul span a {
  cursor: pointer;
}
.app_filter .filter .filter_value ul li {
  list-style: none;
  margin-right: 10px;
}
.app_filter .filter .filter_value ul li a {
  font-size: 13px;
  cursor: pointer;
}
.app_filter .filter .filter_value ul li a:hover {
  color: #4aaee0 !important;
}
.app_filter .result {
  padding: 0px 10px;
}
.app_filter .result .category_map {
  padding: 5px;
}
.app_filter .result .category_map a {
  color: #6a6a6a;
  padding: 3px;
  cursor: pointer;
}
.app_filter .result .category_map a:hover {
  color: #4aaee0;
}
.app_filter .result .category_map .sort_size {
  float: left;
  color: #ffffff;
  background: #4aaee0;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.app_filter .result .result_body {
  border: 1px dashed #d8cece;
  background: #fff;
}
.app_filter .result .result_body .sort {
  width: 100%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 1px solid #e6e1e1;
}
.app_filter .result .result_body .sort .icon {
  font-size: 15px;
  color: #cecece;
}
.app_filter .result .result_body .sort .sort_titel {
  font-weight: bold;
}
.app_filter .result .result_body .sort .sort_name {
  color: #656565;
  margin: 0px 2px;
  padding: 0px 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.4s;
}
.app_filter .result .result_body .sort .sort_name:hover {
  background: #ddd0d0;
}
.app_filter .result .result_body .sort .active_sort_name {
  background: #4aaee0 !important;
  color: #fff;
}
.app_filter .result .result_body #resalts {
  width: 100%;
  margin: 0;
}
.app_filter .result .result_body #resalts .resalt {
  height: 390px;
  border: 1px solid #ececec;
  transition: all 0.4s;
}
.app_filter .result .result_body #resalts .resalt:hover {
  box-shadow: 0px 0px 10px #cac2c2;
}
.app_filter .result .result_body #resalts .resalt .image_box {
  display: block;
  text-align: center;
}
.app_filter .result .result_body #resalts .resalt .image_box img {
  width: 85%;
  object-fit: scale-down;
  min-height: 215px;
}
.app_filter .result .result_body #resalts .resalt .info_box {
  padding: 15px 0px;
}
.app_filter .result .result_body #resalts .resalt .info_box .resalt_name {
  margin-bottom: 15px;
  min-height: 50px;
}
.app_filter .result .result_body #resalts .resalt .info_box .resalt_name a {
  color: #565656;
  font-size: 12px;
}
.app_filter .result .result_body #resalts .resalt .info_box .resalt_off {
  text-align: left;
}
.app_filter .result .result_body #resalts .resalt .info_box .resalt_off span {
  background: #fb3449;
  border-radius: 50px;
  color: #fff;
  padding: 1px 10px;
}
.app_filter .result .result_body #resalts .resalt .info_box .resalt_off del {
  font-size: 18px;
  margin: 0px 10px;
}
.app_filter .result .result_body #resalts .resalt .info_box .resalt_price {
  font-size: 25px;
  font-weight: bold;
  color: #323136;
}
.app_filter .result .result_body #resalts .resalt .info_box .resalt_price a {
  color: #323136;
}
.app_filter .result .result_body #resalts .resalt .info_box .resalt_price .unit {
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0px 0px 0px;
}

.custom_ch {
  font-weight: normal;
  text-shadow: 0px 0px 0px #000;
  display: block;
  cursor: pointer;
}
.custom_ch .checkmark {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  top: 2px;
  border-radius: 20px;
  background: transparent;
}
.custom_ch input[type=checkbox]:checked + .checkmark {
  background: #2196F3;
}
.custom_ch input[type=checkbox] {
  display: none;
}

/*# sourceMappingURL=category.css.map */
