.user_page{
background: whitesmoke;
padding-bottom: 200px;

.right_box{
    .profile{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        padding-top: 13px;// 5px;
        border-radius: 7px;
        overflow: hidden;
        border: 1px dashed #d8cece;

        .user_image{
            object-fit: contain;
            border-radius: 50%;
            box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.6);

        }
        .user_name{
            color: #716363;
            margin: 10px;
            font-weight: normal;
            padding-top: 10px;
            padding-bottom: 6px;
        }
        .user_action {
            width: 100%;
            text-align: center;
            border-top: 1px #c4c4c4 solid;

            .btn_ {
                width: 49%;
                margin: 0;
                border-radius: unset;
                background: #fff;
                color: #5d5959;
                text-align: center;
                padding: 10px;
                position: relative;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &:hover {
                    color: gray;
                }

            }

        }
    }


    .user_methods{
        width: 100%;
        background: #fff;
        margin-top: 10px;
        border: 1px dashed #d8cece;

       
        padding-top: 13px;// 5px;
        border-radius: 7px;
        overflow: hidden;


        .titel{
            color: #3F51B5;
            font-weight: normal;
            font-size: 17px;
            text-align: right;
            padding: 11px 13px;
            border-bottom: 1px dashed #f1b2b2;
            padding-bottom: 19px;
            margin: 0px;
        }


        .method{
            color: #5d5959;
            padding: 9px 10px 10px 10px;
            display: block;
            font-weight: bold;
            font-size: 16px;;
            padding: 9px 10px 10px 10px;
            display: block;
            font-weight: normal;
            font-size: 13px;
            padding: 13px 11px;
            font-weight: bolder;
            transition: all 0.4s;
            cursor: pointer;

            &:hover{
                color: #3F51B5;
                transform: scale(1.035)
            }
        

            i{
                margin-left: 10px;
            }


        }




    }
}

.left_box{

.titel_method{
    margin-top: 50px;
    color: #4a4c50;
    font-weight: normal;

}
.method_body{
  
    background: #fff;
    width: 100%;;
    border: 1px dashed #d8cece;
    border-radius: 7px;
    


    .table_list_broduct{
       
        th{
            text-align: center;
            background: #444a6f;
            color: #fff;
           

        }
        td{text-align: center;
            text-shadow: 0px 0px 0px #000;
            font-size: 15px;
            padding: 40px 0px;
        
     
        }

        tr{
            cursor: context-menu;
            &:hover{
                background: #cfdeff !important;
               
            }
            .text-danger{
                color: red;
                text-shadow: 0px 0px 0px red !important;
            }

            .text-success {
                color: green;
                text-shadow: 0px 0px 0px green !important;
            }

            .link{
                color: #3F51B5;
                cursor: pointer;
                text-decoration: none;
            }
            &:nth-child(odd){
            background: rgba(68, 74, 111, 0.08);
        }}
    }

    
}

}

}





.profile{
    padding: 10px;


    .profile_form{
        
        



    }


    .change_pass{
        border-right:1px dashed #cac9c9;
        
        


    }


}







.seller{


    .title_form{
        font-size: 14px;
        color: #f5f5f5;
        background: #03A9F4;
        border-radius: 4px;
        padding: 7px;
        margin-bottom: 9px;
        display: inline-block;
    
    }

    .seller_form{
        padding: 25px 40px;

        h4{    color: #4a4646;
            font-weight: normal;
            padding-bottom: 20px;}

        .radio{

            span{
                color: #4a4c50;
                padding: 10px;
                font-weight: bold;
            }
        }


    }



    .personal_info{

        padding: 10px;
        input{
            margin-bottom: 10px;
        }


    }

    .birthday{
        padding: 10px;
    }



    
}




@media screen and (max-width:600px){

    .mobile_v{
        tr{
            display: flex !important;
            flex-direction: column;
        }
      
    }  

}